<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.login">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Declare telephony feature -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <!-- Activities and other app components -->
    </application>

</manifest>
